# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Archivos de logs y datos
corec.log
*.log
*.sqlite

# Archivos de modelo grandes
corec/models/mobilev3/model.pth
corec/models/mobilev3/model_quantized.pth

# Archivos de entorno
.env
*.env

# Archivos de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
