# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: your_password
          POSTGRES_DB: corec_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis:latest
        ports:
          - 6379:6379
        volumes:
          - ./redis.conf:/etc/redis/redis.conf
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          --entrypoint redis-server
          -- /etc/redis/redis.conf

    steps:
    - uses: actions/checkout@v4

    - name: Create Redis configuration
      run: |
        echo "requirepass secure_password" > redis.conf
        echo "acl setuser corec_user on >secure_password" >> redis.conf
        cat redis.conf  # Depurar el contenido del archivo

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8 pytest pytest-asyncio

    - name: Run tests
      run: |
        pytest tests/ -v --capture=no

    - name: Run flake8
      run: |
        flake8 corec/ tests/ --max-line-length=300
